/* http://www.w3schools.com/cssref/tryit.asp?filename=trycss_content_url */
.robotSelectionImage {
  height: 100px;
  width: 100px;
  background-position: 0px 0px;
  background-image: url(selection.png);
  display: inline-block; /* http://www.webmasterworld.com/css/3618505.htm */
  margin-right: 30px;
  vertical-align: middle;
}
.selectedRobot .robotSelectionImage {
  background-position: -100px 0px;
}


#configuration_heading {
  background-color: #eeeeee;
}

/* http://stackoverflow.com/questions/8083430/how-to-change-the-font-and-font-size-of-an-html-input-tag */
input
{
    font-size:40px;
}

input[type="input"]
{
    width: 300px;
}

input.wifi {
}

.wifi_button {
  height: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

#configurationOptions {
}

.configurationOption {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 21px;
    padding-bottom: 21px;
}

.configurationOptionHeading {
  display: inline-block;
  padding-right: 30px;
  width: 160px;
}

.field {
 /* http://stackoverflow.com/questions/1032914/how-to-make-a-div-to-fill-a-remaining-horizontal-space-a-very-simple-but-annoyi */
	float:left;
}

.rightFiller {
	width: 100%;
}

.fullButton {
  width: 100%;
}