

#exampleEntry {
  height: 0px;
  display: none;
}

.robotImage>img {
  height: 100px;
}

.robotEntry:hover {
  background-color: #eeeeee;
}

.robotEntry {
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.robotLink {
}
/* http://www.ssi-developer.net/css/link-colours.shtml */
a:link {
  color: #000000;
  text-decoration: none; 
}
a:active {
  color: #000000; 
  text-decoration: none; 
}
a:visited {
  color: #000000; 
  text-decoration: none; 
}
a:hover {
  color: #0000cc; 
  text-decoration: none; 
}

/* divs in a row http://stackoverflow.com/a/2375967/1320237 */
.robotImage {
  display: inline-block; /* http://www.webmasterworld.com/css/3618505.htm */
  padding-right: 30px;
  vertical-align: middle;
  height: 100px;
}

.robotDescription {
  display: inline-block; /* http://www.webmasterworld.com/css/3618505.htm */
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

.robotAddress {

}

.content {
  font-size: 40px;
}

.heading {
  font-size: 40px;
  display: inline-block; /* http://www.webmasterworld.com/css/3618505.htm */
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 21px;
  padding-bottom: 21px;
  margin: 0px;
}

#listRobots {

}

#navigation {
  padding-top: 0px;
  padding-bottom: 9px;
}

.section {
  padding-bottom: 21px;
  padding-top: 21px;
}

.even {

}

.odd {
  background-color: #eeeeee;
}

body {
  margin: 0px;
  padding: 0px;
}

